.logo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

p.logo__intro-text {
  .text-align-center;
}

.logo__intro-img {
  padding: 53px 0 67px;
}

.logo__intro-text--index {
  padding: 86px 0 86px;
}
