.page-header {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: 7px;
    .bg-color-white;
  }

}

@media (min-width: @desktop-width) {
  .bg-color-white;
}
