.page-header {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding: 7px 0 0;
    margin: 0 0 7px;
    .bg-color-white;
  }
}

@media (min-width: @desktop-width) {
  .bg-color-white;
}
