.reviews {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviews__header {
  margin: 28px 0 0 0;
  border-bottom: 1px solid #d6d6d6;
}

.reviews__title {
  margin: 7px 0 26px;
  /*margin-bottom: 26px;/*по макету 40px; проставила по пиксельперфект наллложению*/
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  .text-align-center;
}

.reviews__intro {
  margin: 0;
  padding-bottom: 17px;
  /* padding-bottom: 46px; */
  font-size: 14px;
  line-height: 24px;
  .text-align-center;
}

@media (min-width: @tablet-width) {
  .reviews {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  .reviews__header {
    border: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .reviews__header {
    border: 0;
  }
}
